<div fxLayout="row">
  <div style=" position: fixed;width: 350px;"><app-filter (filtered) = "filterInfluencers($event)"></app-filter></div>
  <div fxFlex="30"></div>

  <div fxFlex="55">
    <nb-list nbInfiniteList listenWindowScroll [threshold]="10" (bottomThreshold)="loadNext()">
      <nb-list-item *ngFor="let influencer of influencers">
        <app-influencer [influencer]="influencer"></app-influencer>
      </nb-list-item>
    </nb-list>
    <nb-card *ngIf = "showSpinner" [nbSpinner]="showSpinner" nbSpinnerStatus="info">
      <nb-card-body>
        Loading ...
      </nb-card-body>
    </nb-card>
  </div>
  <div fxFlex="15"></div>
</div>
